@font-face {
  font-family: 'DM Sans';
  src: url("/fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url("/fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  }

@font-face {
  font-family: 'DM Sans';
  src: url("/fonts/DM_Sans/DMSans-MediumItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url("/fonts/DM_Sans/DMSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}